page-about {
    .background-about{
        background: #1a0a3a;
        color: #ffffff;
    }
    .contend-about{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0 2px 30px rgba(0,0,0,0.397);
        background: lighten(rgba(0,0,0,0.397),10%);
        position: relative;
        overflow:hidden;
    }
    .icon-sun{
        padding:20%;
        padding-top:20%;
        padding-bottom: 0%;
    }
    .icon{
        padding:-10%;
        padding-top:5%;
        padding-bottom: 30%;
    }
    .menu-about-active{
        height: 50px;
        width: 50px;
        background: #ff3e62;
        border-radius: 50px;

    }
    .text-heat{
        font-size:10px;
        text-align:center;
        color:#ff3e62;
    }
    .menu-about-active1{
        height: 50px;
        width: 50px;
        background: #00ccff;
        border-radius: 50px;

    }
    .text-ice{
        font-size:10px;
        text-align:center;
        color:#00ccff;
    }
    
    .menu-about-close{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        
    }
    .font-temp{
        text-align: center;
        padding-top: 5%;
    }
    .menu-top{
        padding: 20%;
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .menu-about-cool{
        position:relative;
        left:60%;
        top:30%;
    }
    .menu-about-wet{
        position:relative;
        top:190%;
        right:300%;
    }
    .menu-about-dry{
        position:relative;
        top: 190%;
        right: 200%;
    }
    .menu-about-humidity-red{
        position:relative;
        left:200%;
        top:35%;
    }
    .menu-about-humidity-white{
        background:#00ccff;
        height:50px;
        width:50px;
        border-radius: 100%;
        position:relative;
        left:15%;
    }
    .menu-about-humidity-violet{
        position:relative;
        top:190%;
        right:120%;
    }
    .menu-about-humidity-bluesky{
        position:relative;
        top:190%;
        right:30%;
    }
    .text{
        font-size:10px;
        text-align: center;
        color:#ffffff;
    }
    .text-temperature{
        font-size:15px;
        text-align:left;
        color:#998ead;
        position: relative;
        top:25%;
    }
    .text-19temp{
        text-align:center;
        position:relative;
        top:50%;
    }
    

}
