<!--ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header -->

<ion-content padding class="background-about">
    <div class="contend-about">

      <!-- header -->
    <h1>Mode Settings</h1><p></p>
    
    <div style="color: #998ead" >Modes<span style=" padding-right:70%">Aromas</span></div>
      <br>


     <ion-grid slidesPerView="2.5" spaceBetween="10px">
        
        <ion-row>
          <ion-col>
          <div class="menu-about-active">
            <img class="icon-sun" src="./assets/imgs/sun.svg">
            <br><br>
            <div class="text-heat">Heat</div>
          </div>    
        </ion-col>
        
      
        <ion-col>
          <div class="menu-about-cool">
            <img class="icon" src="./assets/imgs/snowflake.svg"> 
            <div class="text">Cool</div>
            
          </div>  
        </ion-col>
      
        <ion-col>
          <div class="menu-about-wet" >
            <img class="icon"  src="./assets/imgs/sea-waves.svg">
            <div class="text">Wet</div>
            
          </div>  
        </ion-col>   
        <ion-col>
            <div class="menu-about-dry">
              <img class="icon"  src="./assets/imgs/dryer.svg">
              <div class="text">Dry</div>
            </div>  
          </ion-col> 
          <ion-col>
              <div class="menu-about-humidity-red">
                <img class="icon"  src="./assets/imgs/cherry1.svg">
                <div class="text">Cherry</div>
              </div>  
            </ion-col>  
            <ion-col>
                <div class="menu-about-humidity-white">
                  <img class="icon"  src="./assets/imgs/ice.svg">
                  <div class="text">Ice</div>
                </div>  
              </ion-col> 
              <ion-col>
                  <div class="menu-about-humidity-violet">
                    <img class="icon"  src="./assets/imgs/Grape.svg">
                    <div class="text">Grape</div>
                  </div>  
                </ion-col> 
                <ion-col>
                    <div class="menu-about-humidity-bluesky">
                      <img class="icon"  src="./assets/imgs/Lime.svg">
                      <div class="text">Lime</div>
                    </div>  
                  </ion-col>   
          </ion-row>
     </ion-grid> 

    

      
<!--text-->
<div class="text-temperature">Temperature</div>
<div class="text-19temp" style="font-size:100px">19<span style="font-size:30px">temp</span></div>
      

    </div>

</ion-content>
