<ion-tabs color="violet">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Health" tabIcon="heart"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Profile" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="Hospital" tabIcon="pin"></ion-tab>
</ion-tabs>