page-health {
.background-health{
    background:#cbf1f5;
    color:#ffffff;
}
.menu-health{
    height: 400px;
    width: 500px;
    background: #ffffff;
    border-radius: 10px;
}
.front{
    color:#444;
    font-size:26px;
}
.front1{
    color:#444;
    font-size:20px;
}
.image-size{
     width: 128px;
     height: 128px;
     margin: 30px auto 0;
        
}
}
