<!--
  Generated template for the HealthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Health</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="background-health">

  <ion-slides pager="true">

    <ion-slide>
      <ion-card style="border-radius: 10px">
        <ion-card-header class="front">โรคหัวใจ</ion-card-header>
        <img class="image-size" src="./assets/imgs/heart.svg">
        <ion-card-content class="front1">
          หัวใจเป็นอวัยวะที่ประกอบด้วยกล้ามเนื้อ
          มีขนาดเท่ากำปั้น ภายในกลวง หัวใจจะอยู่ใต้กระดูกหน้าอก
          โดยมีตำแหน่งอยู่ในบริเวณส่วนกลางของหน้าอก ค่อนข้างไปทางซ้ายเล็กน้อย
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card style="border-radius: 10px">
        <ion-card-header class="front">โรคหัวใจ</ion-card-header>
        <img class="image-size" src="./assets/imgs/heart.svg">
        <ion-card-content class="front1">
          หัวใจมีหน้าที่สูบฉีดโลหิตเพื่อนำพาออกซิเจนและธาตุอาหารไปยังทุกส่วนของร่างกาย หัวใจแบ่งออกเป็น 4 ห้อง มี 2
          ห้องบน และ 2 ห้องล่าง
          หัวใจซีกขวารับโลหิตที่ใช้แล้วจากร่างกาย แล้วสูบฉีดไปยังปอดเพื่อรับออกซิเจน
          โลหิตที่มีออกซิเจนก็จะกลับไปยังหัวใจด้านซ้าย และก็จะถูกสูบฉีดโลหิตผ่านเส้นเลือดใหญ่ไปยังทุกส่วนของร่างกาย
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="border-radius: 10px">
        <ion-card-header class="front">โรคหลอดเลือดหัวใจตีบ</ion-card-header>
        <img class="image-size" src="./assets/imgs/heart.svg">
        <ion-card-content class="front1">
          โดยปกติแล้ว ผนังภายในหลอดเลือดหัวใจจะมีลักษณะเรียบ การสะสมของชั้นไขมันและตะกอนอื่นๆ ซึ่งเรียกว่า
          ภาวะการสะสมไขมันภายในผนังหลอดเลือด (atherosclerosis) นั้นเป็นผลเสียต่อหลอดเลือด
          เนื่องจากจะไปขัดขวางการไหลของโลหิต
          ซึ่งจะนำไปสู่ปัญหาทางสุขภาพที่ร้ายแรง เช่น อาการเจ็บที่หัวใจอย่างรุนแรง หรือหัวใจวาย
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="border-radius: 10px">
        <ion-card-header class="front">ภาวะหัวใจล้มเหลว</ion-card-header>
        <img class="image-size" src="./assets/imgs/heart.svg">
        <ion-card-content class="front1">
          ภาวะหัวใจล้มเหลว (Congestive heart failure - CHF)
          เกิดขึ้นเมื่อหัวใจไม่สามารถสูบฉีดโลหิตให้ไหลเวียนไปทั่วทุกส่วนของร่างกายได้อย่างพอเพียง
          เมื่อหัวใจอ่อนแอหรือถูกทำลาย ความสามารถในการสูบฉีดโลหิตอาจน้อยลง
          ผลที่ตามมาคือมีการคั่งของโลหิตในห้องหัวใจ ปอด หรือส่วนอื่นๆ ในร่างกาย
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="border-radius: 10px">
        <ion-card-header class="front">อาการภาวะหัวใจล้มเหลว</ion-card-header>

        <ion-card-content class="front1">
          หายใจเข้าได้ลำบาก อาจจะเป็นตลอดเวลา
          เป็นขณะออกกำลังกายหรือใช้แรงมาก
          หรือเป็นเฉพาะในเวลากลางคืน
          น้ำหนักตัวเพิ่มอย่างรวดเร็ว โดยเป็นการสะสมของน้ำในร่างกายมากกว่าไขมัน
          มือ เท้า หรือท้องบวม
          เหนื่อยมาก
          ไอแห้ง ไออย่างรุนแรงและบ่อย
          นอนหลับยาก
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="border-radius: 10px">
        <ion-card-header class="front">PM 2.5</ion-card-header>
        <img class="image-size" src="./assets/imgs/PM2.5.svg">
        <ion-card-content class="front1">
          PM2.5 นั้น สามารถเล็ดลอดผ่านขนจมูก เข้าสู่กระแสเลือดและอวัยวะส่วนต่าง ๆ ของร่างกายได้อย่างง่ายดาย
          ฝุ่นขนาดใหญ่จะตกลงสู่พื้นตามแรงดึงดูดของโลก แต่ฝุ่นละอองขนาดเล็กไม่เกิน10ไมครอน (PM10)
          และฝุ่นละอองขนาดเล็กไม่เกิน2.5ไมครอน (PM2.5) จะสามารถลอยอยู่ในชั้นบรรยากาศได้นานและปะปนกับมลพิษอื่นในอากาศ
          หากปะทะเข้าจมูกหรือปาก
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card style="border-radius: 10px">
          <ion-card-header class="front">PM 2.5</ion-card-header>
          <img class="image-size" src="./assets/imgs/PM2.5.svg">
          <ion-card-content class="front1">
            ฝุ่นละอองขนาดใหญ่กว่านี้บางส่วนถูกขับออกมาเป็นเสมหะและสามารถแพร่กระจายเข้าสู่ระบบทางเดินหายใจ ถุงลมในปอด
            และผ่านเข้าสู่กระแสเลือดไปยังอวัยวะต่าง ๆ
            เพิ่มความเสี่ยงต่อการเป็นโรคเรื้อรังและมะเร็งหากสะสมอยู่ในอวัยวะใดนาน ๆ
          </ion-card-content>
        </ion-card>
      </ion-slide>



    <ion-slide *ngFor>


    </ion-slide>
  </ion-slides>

</ion-content>