page-profile {
    .background-profile{
        background: #ffe6eb;
        color: #ffffff;
    } 
    .profile-image{
        display:block;
         border-radius: 100px;
         border: 1px solid #fff;
         width: 128px;
         height: 128px;
         margin: 30px auto 0;
         box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    }
    .profile-name{
        color:#444;
        font-size:26px;
    }
    .profile-description{
        font-size: 15px;
            color: #888;
    }
}
