<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding class="background-profile">
    
    <h3 class='profile-name'>Aobnithi Piosinsak</h3>
    <ion-list>
        <ion-item>
          <ion-label>เกิดวัน อาทิตย์ ที่ 10 สิงหาคม พ.ศ. 2540  </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>อายุ 21 ปี</ion-label>
          </ion-item>
        <ion-item>
            <ion-label>น้ำหนัก 67   ส่วนสูง 180</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>สายตา ซ้าย -1.75 D ขวา -1.75 D</ion-label>
        </ion-item>
        <ion-item>
              <ion-label>หมู่เลือด B</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>โรคประจำตัว ภูมิแพ้</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ประวัติการแพ้ยา ไม่มี</ion-label>
        </ion-item>
        
      </ion-list>

      <ion-list>
          
          <ion-item>
            <ion-label>อัพเดทข้อมูลตลอดเวลา</ion-label>
            <ion-toggle slot="end"></ion-toggle>
          </ion-item>
         
          
        </ion-list>

        
</ion-content>
