page-home {
.background-home{
    background: #1a0a3a;
    color: #ffffff;
}
.contend-home{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(0,0,0,0.397);
    background: lighten(rgba(0,0,0,0.397),10%);
    position: relative;
    overflow:hidden;
}

.wave{
    position: absolute; //ตำแหน่ง
    background: #6285c6;
    width: 850px;   //กำหนดความกว้าง
    height: 850px; //กำหนดความสูง
    transform-origin: 50% 48%; // ทำให้ออบเจกเคลื่อนที่
    border-radius: 43%; // ทำให้เป็นวงกลม กำหนด 50%
    animation: drift 3000ms infinite linear; //วงกลมหมุน
    opacity: 0.3; //ทำให้บางลง
    bottom: -135%; //เลื่อนลง
    left: -70%; //เลื่อนไปทางซ้าย
    
}
.wave.wave1{
    background: radial-gradient(circle at 100%, #415e92,#415e92 50%,rgba(0,0,0,0) 100%);
    animation: drift 4000ms infinite linear;
    box-shadow: 0 50px 50px rgba(98,138,198,0.439)
}
.wave.wave2{    
    background: radial-gradient(circle at 100%, #628546,#628546 50%,rgba(0,0,0,0) 100%);
    animation: drift 6000ms infinite linear;
    box-shadow: 0 50px 50px rgba(98,138,198,0.439)
}

@keyframes drift{
    from {transform: rotate(0deg);}
    from {transform: rotate(360deg);}
}

.menu-home-active{
    height: 170px;
    //width: 200px;
    background: #ff3e62;
    border-radius: 10px;
}
.menu-home-active1{
    height: 170px;
    //width: 200px;
    background: #1a0a3a;
    border-radius: 10px;
}
.menu-home-close{
    height: 170px;
    //width: 200px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px; 
    border-color: #ffff;
}
.font-temp{
    text-align: center;
    padding-top: 10%;
}
.menu-top{
    padding: 20%;
    padding-top: 10%;
    padding-bottom: 5%;
}


}



