<!-- <ion-header>
  <ion-navbar>
    <ion-title>Multimedia</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="background-home">
  <div class="contend-home">
    <!-- header -->
    <h1>Select Climate</h1>
    <p></p>
    <h1> Settings </h1>
    <p></p>
    <h5 style="color: #998ead"> Favorite Presete</h5>

    <!-- Slides -->
    <ion-slides slidesPerView="2.5" spaceBetween="10px" style="height:30%;">

      <ion-slide>
        <div class="menu-home-active">
          <img style="padding: 30%;" src="./assets/imgs/sun.svg">
          <div style="margin-top:-40px;">Heat</div>
          <div style="font-size:30px">10°-19°</div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="menu-home-close">
          <img style="padding: 30%;" src="./assets/imgs/snowflake.svg">
          <div style="margin-top:-40px;">
            <div style="color: #00ccff">Cool</div>
          </div>
          <div style="font-size:30px">3°-7°</div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="menu-home-close">
          <img style="padding: 30%;" src="./assets/imgs/sea-waves.svg">
          <div style="margin-top:-40px;">Wet</div>
          <div style="font-size:30px">7°-10°</div>
        </div>
      </ion-slide>
    </ion-slides>

    <!--text-->
    <div class="font-temp">
      <span style="font-size:150px">19</span>
      <span style="font-size:20px">temp</span></div>

    <!-- Wave Footer -->
    <div class="wave"></div>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>

  </div>
</ion-content>

