page-hospital {
    .background-hospital{
        background: #defcfc;
        color:#ffffff;
    }
    .front{
        color:#444;
        font-size:26px;
    }
    .image{
         border-radius: 100px;
         border: 1px solid #fff;
         width: 50px;
         height: 50px;
         margin: 30px auto 0;
         box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    }
}
