<!--
  Generated template for the HospitalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hospital</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background-hospital">
    <ion-icon name="pin" class ="front"></ion-icon>
    <h1 class= "front"> Bang Rakam </h1>

    <ion-list>
        <ion-item>
          <ion-label> โรงพยาบาลมหาวิทยาลัยนเรศวร  1.5 km </ion-label> 
          
        </ion-item>
        <ion-segment scrollable>
            <ion-segment-button checked>
              <ion-icon name="heart"></ion-icon>
            </ion-segment-button>
            <ion-segment-button>
              <ion-icon name="compass"></ion-icon>
            </ion-segment-button>
            <ion-segment-button>
              <ion-icon name="star"></ion-icon>
            </ion-segment-button>
            <ion-segment-button>
              <ion-icon name="call"></ion-icon>
            </ion-segment-button>  
          </ion-segment>
        
        
      </ion-list>
</ion-content>
